h1 {
  color: brown;
}
body {
  background-color: beige;
  font-family: "Savoye LET", Arial;
}
#expresso {
  width: 400px;
  height: 300px;
  display: block;
}

#dogpictureframe {
  width: 400px;
  height: 400px;
  background-color: blue;
}
